<div class="w-5/12 mx-auto px-10">
  <h1 class="mb-10 pt-24 text-4xl font-bold dark:text-white">Create New Event</h1>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Name</label>
        <input formControlName="name" type="text" id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="John" required>
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-red-500">
          <div *ngIf="name?.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="name?.errors?.['minlength']">
            Name must be at least 2 characters long.
          </div>
          <div *ngIf="name?.errors?.['maxlength']">
            Name cannot be greater than 20 characters long.
          </div>
        </div>
      </div>
      <div>
        <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Date</label>
        <div class="relative max-w-sm">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <fa-icon [icon]="calendarIcon" class="dark:text-white"></fa-icon>
          </div>
          <input
            id="datepickerCreateEvent"
            formControlName="date"
            datepicker
            datepicker-autohide
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Select date"
            readonly
          >
        </div>
        <div *ngIf="date?.invalid && (date?.dirty || date?.touched)" class="text-red-500">
          <div *ngIf="date?.errors?.['required']">
            Date is required.
          </div>
        </div>

      </div>
    </div>
    <div class="mb-6">
      <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Type</label>
      <select formControlName="type" name="type" id="type"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="0">Default</option>
      </select>
    </div>

    <button type="submit" [disabled]="!eventForm.valid"
      class="text-white bg-blue-700 disabled:cursor-not-allowed hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create
      New Event</button>
  </form>
</div>
