<div class="w-5/12 mx-auto px-10">
  <h1 class="mb-10 pt-24 text-4xl font-bold dark:text-white">Register</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
        <input formControlName="firstName" type="text" id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="John" required>
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="text-red-500">
          <div *ngIf="firstName?.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="firstName?.errors?.['minlength']">
            Name must be at least 2 characters long.
          </div>
          <div *ngIf="firstName?.errors?.['maxlength']">
            Name cannot be greater than 20 characters long.
          </div>
        </div>
      </div>
      <div>
        <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
        <input formControlName="lastName" type="text" id="last_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Doe" required>
        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="text-red-500">
          <div *ngIf="lastName?.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="lastName?.errors?.['minlength']">
            Name must be at least 2 characters long.
          </div>
          <div *ngIf="lastName?.errors?.['maxlength']">
            Name cannot be greater than 20 characters long.
          </div>
        </div>
      </div>
      <div>
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone number</label>
        <input formControlName="phone" type="tel" id="phone"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="text-red-500">
          <div *ngIf="phone?.errors?.['required']">
            Phone is required.
          </div>
          <div *ngIf="phone?.errors?.['pattern']">
            Must be a valid phone number.
          </div>
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
      <input formControlName="email" type="email" id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="john.doe@company.com" required>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-red-500">
        <div *ngIf="email?.errors?.['required']">
          Email address is required.
        </div>
        <div *ngIf="email?.errors?.['email']">
          Must be a valid email address.
        </div>
        <div *ngIf="email?.errors?.['emailAlreadyExists']">
          This email address is already in use.
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Type</label>
      <select formControlName="type" name="type" id="type"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="0">Driver</option>
        <option value="2">Observer</option>
      </select>
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
      <input formControlName="password" type="password" id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="•••••••••" required>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-red-500">
        <div *ngIf="password?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="password?.errors?.['minlength']">
          Name must be at least 6 characters long.
        </div>
        <div *ngIf="password?.errors?.['maxlength']">
          Name cannot be greater than 100 characters long.
        </div>
      </div>
    </div>
    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value=""
          class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
          required>
      </div>
      <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a
          href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
    </div>
    <button type="submit" [disabled]="!userForm.valid"
      class="text-white bg-blue-700 disabled:cursor-not-allowed hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>
</div>